@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'StripeFun';
            src: url('StripeFun.ttf') format('truetype'); }
			
body {
    width: 100%;
    font-family: Arial;
    color: #000;
    background-color: #CCC;
	margin-top: 125px;
}

html {
    width: 100%;
}

#maindiv{
	background-color: #CCC;
}

.navlogo{
	width: 80%;
	height:80%;
	margin-right: -7px;
	padding-top: -7px;
}

.bild {
	width: 10%;
	height: 10%;	
}

#nav{
	display:none;
}

#nav-heading{
	font-size: 90%;
	font-weight:bold;
	margin-top:2%;
	color:#CCC;	
}
