@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'StripeFun';
            src: url('StripeFun.ttf') format('truetype'); }
			
body {
    width: 100%;
    font-family: Arial;
    color: #000;
    background-color: #CCC;
	margin-top: 125px;
}

html {
    width: 100%;
}
/*.brand-heading{
	color:#C00;	
}
*/
.navlogo{
	width: 80%;
	height:80%;
	margin-right: -7px;
}

.bild {
	width: 10%;
	height: 10%;	
}

#nav{
	display:none;
}

#nav-heading{
	font-size: 90%;
	font-weight:bold;
	margin-top:2%;
	color:#CCC;	
}

.form-signin{
	max-width:400px;
	padding: 15px;
	margin: 0 auto;
}
.signin-input{
	padding: 10px;
	line-height: 1.4;
	height:auto;
	font-size:16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.card{
	width:100%;
    display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.selected{
	border:solid 4px #000;
    border-radius: 7px;
	background-color: #000;
	margin:5px;
}

.boxcontainer{
	padding: 10px 10px;
}

.box{
	background-color:#BBB !important;
	text-align: center;
	padding:2px 10px 10px 10px;
}

.alert{
	text-align: center;
}

.cardbox-disabled{
    pointer-events: none;
}
.item-disabled{
    opacity:0.5;
}
.button-disabled{
    opacity:0.5;
    pointer-events: none;
}

#storybox{
	margin-left: auto;
	margin-right: auto;
	display:inline-block;
	padding: 5px 15px 15px 15px !important; /*TOP RIGHT BOTTOM LEFT*/
}

.controlpanel{
	text-align: center;
}